element.style {
}
body {
    padding-top: 10px;
}
body {
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
}
body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 1.846;
    color: #666666;
    background-color: #ffffff;
}
body {
    margin: 35;
}

.geser-kanan {
    margin-left: 38px; /* Menggeser teks ke kanan sebesar 50px */
}


html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
